@import "settings";

%animation-default {
  opacity: 1;
  z-index: 3;
}

@mixin carousel($items, $animation: "default") {
  .carousel {
    font-family: $body-font-family;
    width: 100%;
    position: relative;
    overflow: hidden;
    // max-height: 550px;

    > input[type="radio"] {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 0;

      &:checked {
        ~ .carousel__items .carousel__item,
        ~ .carousel__prev > label,
        ~ .carousel__next > label {
          opacity: 0;
        }
      }

      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          &:checked {
            ~ .carousel__items .carousel__item {
              @if $animation == "default" {
                &:nth-child(#{$i}) {
                  opacity: 1;
                  div {
                    max-width: 450px;
                    max-height: 550px;
                    @media only screen and (max-width: 1024px) {
                      // max-width: 300px;
                      margin: 0 auto;
                    }
                  }
                }
              }
            }

            ~ .carousel__prev {
              > label {
                @if $i == 1 {
                  &:nth-child(#{$items}) {
                    @extend %animation-default;
                  }
                } @else if $i == $items {
                  &:nth-child(#{$items - 1}) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i - 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~ .carousel__next {
              > label {
                @if $i == $items {
                  &:nth-child(1) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i + 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~ .carousel__nav {
              > label {
                &:nth-child(#{$i}) {
                  background: #616161;
                  cursor: default;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
    }

    &__items {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      min-height: 600px;
      height: auto;
      position: relative;
      @media only screen and (max-width: 1024px) {
        min-height: 500px;
      }
    }

    &__item {
      position: absolute;
      top: 0;
      left: 100px;
      @media only screen and (max-width: 1024px) {
        left: 0;
        width: 100%;
        // transition: opacity 2s;
        // -webkit-transition: opacity 2s;
        .gatsby-image-wrapper {
          height: 60%;
          margin: auto;
        }
      }
      width: 400px;
      // height: 100%;
      z-index: 1;
      transition: opacity 2s;
      -webkit-transition: opacity 2s;
      @media only screen and (min-width: 426px) and (max-width: 1024px) {
        transition: none;
        -webkit-transition: none;
      }
      .item-box {
        width: 438px;
        height: 31%;
        margin: auto;
        box-shadow: 17px 19px 35px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        background-color: #1a1a1a;
        position: absolute;
        top: 72%;
        left: -2%;
        @media only screen and (max-width: 425px) {
          top: 75%;
          height: 47%;
          width: 100%;
          left: 0;
        }
        @media only screen and (min-width: 426px) and (max-width: 1024px) {
          right: 0;
          left: 0;
        }
        @media only screen and (min-width: 769px) and (max-width: 1024px) {
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 100%;
        }

        .item-text {
          padding: 1rem;
          text-align: left;
          font-size: 14px;
          font-weight: 100;
          line-height: 18px;
          font-family: "Roboto", sans-serif;

          @media only screen and (max-width: 1024px) {
            padding-top: 2rem;
            position: absolute;
            top: -8%;
            width: 100%;
            text-align: justify;
            letter-spacing: 0.5px;
            font-size: 13px;
          }
        }
        .item-likes {
          position: absolute;
          top: 68%;
          @media only screen and (max-width: 1024px) {
            top: 77%;
          }
          font-size: 22px;
          padding-left: 1rem;
          padding-bottom: 1rem;
          font-family: "Gotham Rounded Bold", sans-serif;
          color: #2fcc9c;
        }
        .liked {
          position: absolute;
          top: 74%;
          left: 16%;
          font-size: 14px;
          @media only screen and (max-width: 1024px) {
            top: 81%;
            left: 25%;
          }
        }
      }

      img {
        width: auto;
        height: 457px;
        vertical-align: middle;
        margin: auto;
        @media only screen and (max-width: 1024px) {
          height: 277px;
        }
      }
    }

    &__prev,
    &__next {
      > label {
        //border: 1px solid black;
        //border-radius: 50%;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 65%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        // transition: all 0.3s ease;
        // -webkit-transition: all 0.3s ease;
        opacity: 1;
        z-index: 2;

        @media only screen and (max-width: 1024px) {
          top: 34%;
        }

        &:hover,
        &:focus {
          opacity: 0.5;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          width: inherit;
          height: inherit;
        }

        &:before {
          //background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%),
          //linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
          background: url("../images/right-arrow.png") no-repeat;
          background-size: 20px;
          //width: 60%;
          //height: 60%;
          //top: 20%;
        }
      }
    }

    &__prev {
      > label {
        left: 8%;
        @media only screen and (min-width: 426px) and (max-width: 1024px) {
          left: 15%;
        }
        @media only screen and (max-width: 1024px) {
          top: 40%;
          left: 0;
        }

        // &:before {
        //   //left: 35%;
        //   //top: 20%;
        //   //transform: rotate(135deg);
        //   //-webkit-transform: rotate(135deg);
        // }
      }
    }

    &__next {
      > label {
        right: 8%;
        top: 60%;
        @media only screen and (min-width: 426px) and (max-width: 1024px) {
          right: 15%;
        }
        @media only screen and (max-width: 1024px) {
          right: 1%;
          top: 33%;
        }
        &:before {
          left: 10%;
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
        }
      }
    }

    &__nav {
      position: absolute;
      bottom: 21%;
      left: 0;
      text-align: center;
      width: 100%;
      z-index: 3;

      @media only screen and (max-width: 1024px) {
        bottom: 25%;
      }

      > label {
        border: 1px solid transparent;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        background-color: #cccccc;
        margin: 0.125%;
        width: 10px;
        height: 10px;
      }
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
}

@include carousel(4);
