$blackColor: #020304;

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background: $blackColor;
  .mobile-nav {
    header {
      z-index: 5;
      position: absolute;
      left: 20px;
    }
  }
  h1 {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 6;
    font-size: 20px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
    > span {
      text-transform: none;
      opacity: 0.5;
      font-weight: 300;
      font-size: 12px;
    }
  }
  input + label {
    position: absolute;
    top: 40px;
    right: 25px;
    height: 18px;
    width: 30px;
    z-index: 5;
    span {
      position: absolute;
      width: 100%;
      border-radius: 2px;
      height: 4px;
      top: 50%;
      margin-top: -1px;
      left: 0;
      display: block;
      background: #fff;
      transition: 0.5s;
    }
    span:first-child {
      top: 2px;
      left: 9px;
      width: 65%;
    }
    span:last-child {
      top: 17px;
      left: 9px;
      width: 65%;
    }
  }
  label:hover {
    cursor: pointer;
  }
  input:checked + label {
    span {
      opacity: 0;
      top: 50%;
      width: 27px;
    }
    span:first-child {
      opacity: 1;
      transform: rotate(405deg);
    }
    span:last-child {
      opacity: 1;
      transform: rotate(-405deg);
    }
  }
  input ~ nav {
    background: $blackColor;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 4;
    transition: 0.1s;
    transition-delay: 0.3s;
    overflow: hidden;
    > ul {
      text-align: center;
      position: absolute;
      top: 5%;
      list-style: none;
      left: 20%;
      right: 20%;
      > li {
        opacity: 0;
        transition: 0.5s;
        transition-delay: 0s;
        > a {
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          font-weight: 700;
          font-family: sans-serif;
          display: block;
          padding: 30px;
        }
      }
    }
  }
  input:checked ~ nav {
    height: 200%;
    transition-delay: 0s;
    > ul {
      > li {
        opacity: 1;
        // transition-delay: 0.5s;
      }
    }
  }
}
