@font-face {
  font-family: "Gotham Rounded";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Gotham Rounded"),
    url("../fonts/WOFF/gothamroundedbook.woff") format("woff"),
    url("../fonts/TTF/gothamroundedbook.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Rounded Bold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Gotham Rounded"),
    url("../fonts/WOFF/gothamroundedbold.woff") format("woff"),
    url("../fonts/TTF/gothamroundedbold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Rounded Light";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Gotham Rounded"),
    url("../fonts/WOFF/gothamroundedlight.woff") format("woff"),
    url("../fonts/TTF/gothamroundedlight.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Rounded Medium";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Gotham Rounded"),
    url("../fonts/WOFF/gothamroundedmedium.woff") format("woff"),
    url("../fonts/TTF/gothamroundedmedium.ttf") format("truetype");
}
