@import "settings";

.homepage {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0px 1.0875rem 0;
  padding-top: 40px;
  max-height: 680px;
  .header {
    display: flex;
    align-items: center;

    header {
      flex: 8;
    }
    & > * {
      flex: 1;
    }
    .nav {
      flex: 2;
    }
    .nav,
    .icons {
      list-style: none;
      display: flex;
      @media only screen and (max-width: 1024px) {
        display: none;
      }
      justify-content: space-evenly;
      width: 178px;
      color: #ffffff;
      font-family: $body-font-family;
      font-size: 18px;
      font-weight: 300;
      a {
        text-decoration: none;
        color: #fff;
      }
      div {
        width: 15px;
        height: auto;
      }
      .fb {
        width: 8px;
      }
    }
    .icons {
      align-items: center;
      li {
        padding-right: 11px;
      }
    }

    .logo {
      width: 120px;
      height: auto;
      @media only screen and (max-width: 1024px) {
        width: 70px;
      }
    }
  }

  .logo {
    width: 120px;
    height: auto;
    @media only screen and (max-width: 1024px) {
      width: 150px;
    }
  }

  .play-game-container {
    padding-top: 5rem;
    font-family: $body-font-family;
    color: $secondary-color;
    line-height: 0;
    padding-left: 7.3rem;

    .play-games {
      font-family: "Gotham Rounded Bold", sans-serif;
      font-size: 60px;
      line-height: 70px;
      text-transform: uppercase;
    }

    .earn-money {
      font-size: 19px;
      font-weight: 100;
    }
  }

  .form-container {
    padding-top: 6.5rem;
  }
  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
  }
  .prefix input {
    border-radius: 0px 4px 4px 0px;
  }
  .prefix .input-group-addon {
    border-right: 0;
    border-radius: 25px 0 0 25px;
    border: none;
    background: #e8e8e8;
  }
  #phoneNumber {
    font-family: $body-font-family;
    border: none;
    margin: 0;
    height: 45px;
    box-shadow: none;
    background: #e8e8e8;
    border-radius: 0 25px 25px 0;
    padding-right: 45px;
  }
  .input-group-addon {
    padding: 6px 12px;
    font-size: 16px;
    color: #000000ab;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
  }

  #submit-btn {
    z-index: 1;
  }
  .submit-button {
    font-family: $body-font-family;
    background: linear-gradient(to bottom, #8565c7 0%, #3b95c3 100%);
    transition: all 2s;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 13px 52px;
    height: 45px;
    border-bottom: 0;
    border-right: 0;
    margin-left: -50px;

    &:focus {
      background: linear-gradient(to bottom, #8565c7 0%, #3b95c3 100%);
    }

    &:hover {
      background: linear-gradient(
        to bottom,
        darken(#8565c7, 10) 0%,
        darken(#3b95c3, 10) 100%
      );
      //transition: background 2s;
    }
  }
  form {
    display: flex;
  }
  .content {
    display: flex;
    padding-top: 40px;
  }
  .carousel-container,
  .content-left {
    flex: 1;
  }
  .install-images,
  .features-images {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    & > * {
      flex: 1;
    }
    div .gatsby-image-wrapper {
      max-width: 86px;
      margin: 0 auto;
    }
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }
  }
  .disclaimer {
    max-width: 80%;
    margin: 0 auto;
    color: #bebebe;
    .disclaimer-header {
      text-align: center;
      padding-bottom: 1rem;
    }
  }
}

//footer section

.footer-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  @media only screen and (max-width: 1024px) {
    padding: 24rem 0;
    padding-bottom: 3rem;
  }
}

//features section

.features {
  padding-top: 0;
  @media only screen and (max-width: 1024px) {
    padding-top: 140px;
  }
  .features-header {
    text-align: center;
    line-height: 35px;
    font-family: "Gotham Rounded Bold", sans-serif;
    font-size: 48px;
    @media only screen and (max-width: 1024px) {
      font-size: 35px;
      line-height: 17px;
    }
    .sub-text {
      font-size: 22px;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      line-height: 0px;
      @media only screen and (max-width: 1024px) {
        line-height: 25px;
      }
    }
  }
  .features-img-container {
    width: 100%;
    padding: 6rem 7rem;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 1024px) {
      padding: 0;
    }
    .features-images {
      div {
        &:nth-child(2) {
          div {
            max-width: 100px;
          }
        }
        &:nth-child(3) {
          div {
            max-width: 105px;
          }
        }
        &:nth-child(4) {
          div {
            max-width: 60px;
          }
        }
      }
    }
    .feature-heading {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-align: center;
      line-height: 45px;
      margin: 0 auto;
    }
    .feature-text {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-align: center;
    }
  }
}

// homepage section 2

.how-to-install {
  max-width: 100%;
  font-family: $body-font-family;
  .install-text {
    text-align: center;
    color: #3a3a3a;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    @media only screen and (max-width: 1024px) {
      font-size: 30px;
    }
  }
  .install-img-container {
    width: 100%;
    padding: 5rem;
    @media only screen and (max-width: 1024px) {
      padding: 1rem;
    }
  }
}

// homepage section 3

.about-section {
  font-family: $body-font-family;
  padding-top: 0;
  font-family: "Roboto", sans-serif;
  .about-mega-header {
    text-align: center;
    color: #3a3a3a;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    @media only screen and (max-width: 1024px) {
      font-size: 30px;
    }
  }
  .external-links {
    ul {
      font-size: 12px;
      margin: 0 auto;
      padding: 0 7rem;
      list-style: none;
      text-align: center;
      font-weight: 300;
      letter-spacing: 0.5px;
      overflow: hidden;
      li {
        display: inline-block;
        padding: 0 1rem;
        border-right: 2px solid;
        &:last-child {
          border-right: 0;
        }
        @media only screen and (max-width: 1024px) {
          border: 0;
          padding: 3px;
        }
      }
      @media only screen and (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        padding: 0;
      }
      & > * {
        flex: 1;
        @media only screen and (max-width: 1024px) {
          padding: 0.5rem;
        }
      }
      a {
        text-decoration: none;
        color: $secondary-color;
        // &:hover {
        //   color: darken(#7b6ec6, 10);
        // }
        @media only screen and (max-width: 1024px) {
          // color: #6e6e6e;
        }
      }
      @media only screen and (max-width: 1024px) {
        font-size: 15px;
      }
    }
    hr {
      width: 32%;
      margin: 0 auto;
      padding-top: 2rem;
      border-bottom: 1px solid;
      margin-bottom: 2rem;
      @media only screen and (max-width: 1024px) {
        width: 75%;
      }
    }
  }
}

//bottom social icons

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  li {
    padding: 0 0.5rem;
    .fb {
      width: 8px;
    }
    div {
      width: 15px;
    }
  }
}

// footer
.footer-container {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 13px;
  color: white;
  padding: 1rem;
  // background-image: radial-gradient(
  //   circle 2024px at center,
  //   #191919 0%,
  //   rgba(0, 0, 0, 0) 100%
  // );
  padding-top: 3rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  @media only screen and (max-width: 1024px) {
    font-size: 14px;
  }
}

// download button

.download-button {
  width: 100%;
  z-index: 10000;
  padding-bottom: 2rem;

  #appLinkDownload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 90%;
    margin: 0 auto;
    background-color: #8565c7;
    background-image: linear-gradient(to bottom, #8565c7 0%, #3b95c3 100%);
    border-radius: 50px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
}

/* Error messages*/

.error {
  color: #ff0000ab;
  font-size: 13px;
  margin-left: 1.5rem;
  padding-top: 0.3rem;
}

/* Loading spinner */
.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
}

.hide {
  display: none;
}

input:focus {
  outline: none;
}

.carousel__item {
  .gatsby-image-wrapper {
    height: 76%;
    @media only screen and (max-width: 1024px) {
      height: 50%;
      width: 80%;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .hide-for-desktop {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .hide-for-mobile {
    display: none;
  }
  .homepage {
    .play-game-container {
      padding-top: 1rem;
      line-height: 40px;
      text-align: center;
      padding-bottom: 2rem;
      padding-left: 0;
      .play-games {
        font-size: 47px;
        font-family: "Gotham Rounded Bold", sans-serif;
        line-height: 45px;
      }

      .earn-money {
        font-size: 24px;
        line-height: 27px;
      }
    }
    .content {
      flex-direction: column;
    }
  }
}

//terms

.tnc,
.policy {
  @media only screen and (max-width: 1024px) {
    font-size: 14px;
  }
  font-family: "Roboto", sans-serif;
  p {
    line-height: 2rem;
    color: #cccddd;
    margin-bottom: 1rem;
    @media only screen and (max-width: 1024px) {
      line-height: 1.2rem;
      font-size: 14px;
    }
    a {
      text-decoration: none;
      color: #cccddd;
      font-style: italic;
    }
  }
  h1 {
    position: unset;
    padding-bottom: 5rem;
    @media only screen and (max-width: 1024px) {
      padding-bottom: 1rem;
      font-size: 1rem;
    }
    text-align: center;
    font-family: "Gotham Rounded", sans-serif;
  }
  h2,
  h3,
  h4,
  h5 {
    font-family: "Gotham Rounded", sans-serif;
    padding: 1rem 0;
    margin-bottom: 0;
    @media only screen and (max-width: 1024px) {
      font-size: 1rem;
    }
  }
  h4 {
    padding-bottom: 2px;
    margin-bottom: 0;
    @media only screen and (max-width: 1024px) {
      font-size: 0.9rem;
    }
  }
  .content {
    display: unset;
  }
  .footer-logo {
    @media only screen and (max-width: 1024px) {
      padding: 5rem 0 2rem 0;
    }
  }
}

//privacy policy

.policy {
  .personal-info,
  .info-list {
    list-style: lower-alpha;
    margin-left: 1rem;
    line-height: 1.5rem;
    color: #cccddd;
    margin-bottom: 1rem;
    @media only screen and (max-width: 1024px) {
      line-height: 1rem;
    }
  }
  .info-list {
    list-style: none;
    margin-left: 0;
  }
}
