$body-font-family: "Gotham Rounded", sans-serif;
$primary-color: #3a3a3a;
$secondary-color: #ffffff;
$black-color: #000000;
$primary-bg-color: radial-gradient(circle at 0 0, #191919, #000000);
$secondary-bg-color: #f9f9f9;
$content-max-width: 1668px;
$bold-font-weight: 900;
$gotham-font-family: "Gotham Rounded", sans-serif;
$transition-duration: 0.5s;
